{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Stage 1: Contribution (Period {{ player.round_number }} of
    {{ Constants.num_rounds }})
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <th>Participant</th>
        {% if subsession.gender %}
            <th>Gender</th>
        {% endif %}
        <th>Endowment</th>
        </thead>
        <tbody>
        {% for i in player.get_others_in_group %}
            <tr>
                <td> {{ i.id_in_group }}</td>
                {% if subsession.gender %}
                    <td>{{ i.participant.vars.gender }}</td>
                {% endif %}
                <td> {{ i.endowment }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% formfield player.contribution label=label %}

    {% next_button %}

    {% include Constants.instructions_template %}


{% endblock %}
